.app{
  display: flex;
}
.main{
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}
.map{
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
}

.flats{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}